@model IEnumerable<AnimalShelter.Models.Kojec>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Koj_Kod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Koj_Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strefa.Str_Kod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Koj_Kod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Koj_Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strefa.Str_Kod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Koj_GIDNumer }) |
            @Html.ActionLink("Details", "Details", new { id=item.Koj_GIDNumer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Koj_GIDNumer })
        </td>
    </tr>
}

</table>
