@model IEnumerable<AnimalShelter.Models.KarmaZapotrzebowanie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zap_NazwaKarmy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zap_IloscAktualna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zap_IloscPotrzebna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zap_Jm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gatunek.Gat_Nazwa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zap_NazwaKarmy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zap_IloscAktualna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zap_IloscPotrzebna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zap_Jm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gatunek.Gat_Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Zap_GIDNumer }) |
            @Html.ActionLink("Details", "Details", new { id=item.Zap_GIDNumer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Zap_GIDNumer })
        </td>
    </tr>
}

</table>
